nextflow.enable.dsl = 2

params.outdir = 'results'
params.samplesheet = 'config/samplesheet.csv'
params.reference = null
params.gnomad = null
params.common_sites = null
params.pon = null
params.truth_vcf = null
params.truth_bed = null
params.vep_cache = null
params.cancer_genes = 'config/cancer_genes.example.tsv'
params.vep_species = 'homo_sapiens'
params.vep_assembly = 'GRCh38'
params.skip_pon = false
params.cpus = 4

process {
  executor = 'local'
  errorStrategy = 'terminate'
  maxRetries = 1
  withLabel: small { cpus = 2; memory = '4 GB'; time = '4h' }
  withLabel: medium { cpus = 4; memory = '12 GB'; time = '12h' }
  withLabel: large { cpus = 8; memory = '32 GB'; time = '48h' }
}

docker.enabled = false
singularity.enabled = false

profiles {
  docker { docker.enabled = true }
  singularity { singularity.enabled = true; singularity.autoMounts = true }
  conda { conda.enabled = true }
  test {
    params.samplesheet = 'test-data/samplesheet.csv'
    params.reference = 'test-data/ref.fa'
    params.gnomad = 'test-data/resource.vcf.gz'
    params.common_sites = 'test-data/resource.vcf.gz'
    params.truth_vcf = 'test-data/truth.vcf.gz'
    params.truth_bed = 'test-data/confident.bed'
    params.vep_cache = 'test-data/vep'
    params.skip_pon = true
  }
}

timeline { enabled = true; overwrite = true; file = "${params.outdir}/provenance/timeline.html" }
report { enabled = true; overwrite = true; file = "${params.outdir}/provenance/nextflow-report.html" }
trace { enabled = true; overwrite = true; file = "${params.outdir}/provenance/trace.tsv" }
dag { enabled = true; overwrite = true; file = "${params.outdir}/provenance/dag.html" }
